/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*COLOR PALETTE*/
/*FONTS*/
/*MAIN FONTS*/
.logo-font {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 3rem;
  font-weight: 1000;
  letter-spacing: 0px;
  color: #212d30;
}
.title-font {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: #212d30;
}
.body-font {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1rem;
  color: #212d30;
}
/*BANNER FONT*/
.banner-font {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  color: #212d30;
}
/*NAVIGATION*/
.nav-logo-font {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}
.nav-title-font {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}
.nav-font-dark {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  color: #212d30;
}
.cart-icon {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
}
.cart-font {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  color: orange;
  position: absolute;
  right: 16.8%;
  top: 179px;
}
/*PLAQUE FONT*/
.plaque-title-font {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  color: #212d30;
  line-height: 2.5rem;
}
.plaque-body-font {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2rem;
  color: #212d30;
  line-height: 1.9rem;
}
.plaque-link-font {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: #212d30;
  text-decoration: underline;
  line-height: 1.2rem;
}
/*UNDER JUMBO*/
.underjumbo-title-font {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  color: #212d30;
  line-height: 2rem;
}
.underjumbo-body-font {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2rem;
  color: #212d30;
  line-height: 1.9rem;
}
.underjumbo-link-font {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: #212d30;
  text-decoration: underline;
  line-height: 1.2rem;
}
/*MORE TO DISCOVER*/
.discover-title-font {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  color: white;
  margin-bottom: 35px;
}
.discover-font {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2rem;
  color: white;
}
/*SIGN UP BUTTONS*/
.signup-title-font {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: #212d30;
}
.signup-body-font {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: #212d30;
}
/*FOOTER FONT*/
.footer-title-font {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1.5rem;
  color: #212d30;
}
.footer-body-font {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: #212d30;
}
/*SEARCH PAGE*/
.search-bold-font {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  color: #212d30;
  font-weight: bold;
  line-height: 1rem;
}
.search-body-font {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  color: #212d30;
  line-height: 1rem;
}
.nav-logo-font {
  color: white;
  font-family: 'Times New Roman', Times, serif;
}
/*PRODUCT PAGE*/
.product-title-font {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  color: #212d30;
  font-weight: bold;
  line-height: 1.2rem;
}
.product-bold-font {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: #212d30;
  font-weight: bold;
  line-height: 1.8rem;
}
.product-body-font {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  color: #212d30;
  line-height: 1.8rem;
}
.review-title-font {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  color: #212d30;
  font-weight: bold;
  line-height: 1.4rem;
}
.review-body-font {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  color: #212d30;
  line-height: 1.1rem;
}
.review-italics-font {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  color: #212d30;
  line-height: 1rem;
  font-style: italic;
}
/*MENU BAR HOME PAGE*/
.home-menu-bar {
  width: 75%;
  height: 50px;
  background-color: #212d30;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 3px 3px 0px 0px;
}
.home-menu-bar .home-nav-location-button {
  width: 10%;
  height: 30px;
  display: flex;
}
.home-menu-bar .home-nav-location-button .text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-menu-bar .home-nav-location-button .icon {
  margin-right: 5%;
}
.home-menu-bar .home-nav-search-bar {
  width: 55%;
  height: 35px;
  background-color: white;
  border-radius: 2px;
  display: flex;
}
.home-menu-bar .home-nav-search-bar .home-nav-search-filter-button {
  width: 8%;
  height: 100%;
  background-color: #f3f3f3;
  border-radius: 2px 0px 0px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-menu-bar .home-nav-search-bar .home-nav-search-text-input {
  width: 88%;
  background-color: white;
}
.home-menu-bar .home-nav-search-bar .home-nav-search-submit-button {
  width: 6%;
  height: 100%;
  background-color: #f3f3f3;
  border-radius: 0px 2px 2px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-menu-bar .home-nav-search-bar .home-nav-search-submit-button input {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.home-menu-bar .home-nav-language-dropdown {
  width: 3%;
  height: 30px;
  display: flex;
  align-items: center;
}
.home-menu-bar .home-nav-div-bar {
  width: 0px;
  height: 30px;
  border: 1px solid #212d30;
}
.home-menu-bar .home-nav-account-dropdown {
  width: 10%;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-menu-bar .home-nav-account-dropdown .bottom-container {
  display: flex;
  justify-content: space-between;
}
.home-menu-bar .home-nav-orders-dropdown {
  width: 6%;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-menu-bar .home-nav-orders-dropdown .bottom-container {
  display: flex;
  justify-content: space-between;
}
.home-menu-bar .home-nav-cart-button {
  width: 6%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/*MENU BAR SEARCH AND PRODUCT PAGES*/
.menu-bar {
  width: 100%;
  height: 55px;
  background-color: #212d30;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 2px;
}
.menu-bar .nav-location-button {
  width: 3%;
  height: 35px;
  background-color: gray;
}
.menu-bar .nav-home-logo {
  width: 10%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-bar .nav-home-logo .logo-nav {
  width: 100%;
  height: auto;
  z-index: 2;
}
.menu-bar .nav-search-bar {
  width: 55%;
  height: 35px;
  background-color: white;
  border-radius: 2px;
  display: flex;
}
.menu-bar .nav-search-bar .nav-search-filter-button {
  width: 6%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 2px 0px 0px 2px;
}
.menu-bar .nav-search-bar .nav-search-text-input {
  width: 88%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
}
.menu-bar .nav-search-bar .nav-search-submit-button {
  width: 6%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 0px 2px 2px 0px;
}
.menu-bar .nav-language-dropdown {
  width: 4%;
  height: 35px;
  background-color: gray;
}
.menu-bar .nav-div-bar {
  width: 0px;
  height: 35px;
  border: 1px solid black;
}
.menu-bar .nav-account-dropdown {
  width: 10%;
  height: 35px;
  background-color: gray;
}
.menu-bar .nav-orders-dropdown {
  width: 6%;
  height: 35px;
  background-color: gray;
}
.menu-bar .nav-cart-button {
  width: 6%;
  height: 35px;
  background-color: gray;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
/*TOP BAR*/
.top-bar {
  width: 100%;
  height: 40px;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
/*LOGO*/
.logo-container {
  width: 100%;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logo-container .img {
  width: 400px;
  height: auto;
}
/*MENU BARS GOES HERE IN ORDER*/
/*JUMBOTRON CAROUSEL*/
.jumbotron-carousel {
  width: 75%;
  height: 575px;
}
.jumbotron-carousel .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.jumbotron-carousel .plaque-container {
  width: 75%;
  height: 575px;
  position: absolute;
  top: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.jumbotron-carousel .plaque-container .plaque {
  padding: 60px;
  background-color: rgba(255, 255, 255, 0.85);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*UNDER JUMBOTRON FEATURED*/
.featured-under-jumbotron-item-anchor {
  width: 100%;
  height: 290px;
}
.featured-under-jumbotron {
  width: 75%;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.featured-under-jumbotron .featured-under-jumbotron-item {
  width: 100%;
  height: 290px;
  display: flex;
  align-items: center;
}
.featured-under-jumbotron .featured-under-jumbotron-item .featured-under-jumbotron-item-img {
  width: 60%;
  height: 275px;
  object-fit: cover;
}
.featured-under-jumbotron .featured-under-jumbotron-item .featured-under-jumbotron-item-text {
  width: 40%;
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 2%;
}
/*MORE TO DISCOVER*/
.more-to-discover {
  width: 100%;
  height: 470px;
  background-color: #212d30;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.more-to-discover .more-to-discover-item-container {
  width: 75%;
  height: 330px;
  display: flex;
  justify-content: space-between;
}
.more-to-discover .more-to-discover-item-container .more-to-discover-item {
  width: 18.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more-to-discover .more-to-discover-item-container .more-to-discover-item .more-to-discover-item-img {
  width: 100%;
  height: 270px;
  object-fit: cover;
}
.more-to-discover .more-to-discover-item-container .more-to-discover-item .more-to-discover-text {
  margin-top: 20px;
}
/*FEATURED SELLER CARD SECTION*/
.featured-sellers-card-section {
  width: 75%;
  height: 1345px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.featured-sellers-card-section .featured-seller-card {
  width: 100%;
  height: 575px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.featured-sellers-card-section .featured-seller-card .featured-seller-card-img {
  width: 75%;
  height: 575px;
  position: absolute;
  z-index: -1;
}
.featured-sellers-card-section .featured-seller-card .featured-seller-card-plaque {
  padding: 60px;
  background-color: rgba(255, 255, 255, 0.85);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.featured-seller-card-divider {
  width: 160px;
  height: 0px;
  border: 1px solid black;
}
/*REWARDS AND EMAIL SIGNUP AD SECTION*/
.rewards-and-email-signup-section {
  width: 75%;
  height: 80px;
  display: flex;
  justify-content: space-between;
}
.rewards-and-email-signup-section .signup-section-button {
  width: 49%;
  height: 100%;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer {
  width: 75%;
  padding: 50px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .footer-info-container {
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
.footer .footer-info {
  display: flex;
  flex-direction: column;
}
/*MENU BAR WOULD GO HERE*/
/*REFINE RESULTS BAR*/
.refine-results-bar {
  width: 100%;
  height: 40px;
  border: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 1% 0px 1%;
}
.refine-results-bar .refine-results-sort-by-section {
  width: 17%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.refine-results-bar .refine-results-sort-by-section .refine-results-drop-down {
  width: 74%;
  height: 24px;
  background-color: gray;
}
/*MAIN SECTION*/
.search-main-section {
  width: 100%;
  display: flex;
}
/*REFINE RESULTS SIDE BAR*/
.refine-results-side-bar {
  width: 15%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1%;
  border-right: 1px solid lightgray;
}
.refine-results-side-bar .refine-results-side-bar-section {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 8%;
}
.refine-results-side-bar .search-bar-submit {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.85rem;
  color: #212d30;
  font-weight: bold;
  border: none;
  background-color: white;
  cursor: pointer;
}
.search-bar-divider {
  border-top: 1px solid lightgray;
  width: 100%;
  height: 1px;
}
.search-bar-item {
  margin-bottom: 15px;
}
.search-to {
  position: relative;
  top: 17px;
  left: 5px;
}
/*SEARCH RESULTS DISPLAY*/
.search-results-display {
  width: 85%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.search-result-card {
  width: 23%;
  height: 355px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*BACKGROUND GRADIENT*/
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 87%, #f4f4f4 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 87%, #f4f4f4 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 87%, #f4f4f4 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f4f4f4', GradientType=0);
  /* IE6-9 */
}
.search-result-card .search-result-card-img {
  width: 100%;
  height: 67%;
  object-fit: cover;
  border: 1px solide black;
}
.search-result-card .search-result-card-text {
  width: 100%;
  height: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 1% 0px 1%;
  box-sizing: border-box;
  padding: 5px;
}
/*PRODUCT PAGE TOP RESULT BAR*/
.product-page-top-bar {
  width: 100%;
  height: 85px;
  background-color: white;
  displaY: flex;
  justify-content: space-between;
  align-items: center;
}
.product-page-top-bar .top-bar-search-result {
  margin-left: 5%;
}
.product-page-top-bar .top-bar-social-media-share {
  width: 6%;
  margin-right: 5%;
  display: flex;
  justify-content: space-between;
}
.product-page-top-bar .top-bar-social-media-share .icon {
  color: #212d30;
  height: 20px;
}
/*PRODUCT MAIN DISPLAY/INFORMATION*/
.product-main {
  width: 100%;
  height: 500px;
  display: flex;
}
.product-main .product-main-display {
  background-color: white;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-main .product-main-display .product-main-display-img {
  width: auto;
  height: 100%;
  object-fit: cover;
}
.product-main .product-main-info {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 5%;
}
.product-main .product-main-info .main-info-title {
  display: flex;
  flex-direction: column;
}
.product-main .product-main-info .main-info-price {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.product-main .product-main-info .add-to-cart-button {
  background-color: #212d30;
  color: white;
  border: none;
  margin: 25px 0px 5px 0px;
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.product-main .product-main-info .add-to-registry {
  margin-left: 15px;
}
.product-section-margin {
  margin-top: 5%;
}
.product-section-margin :last-child {
  margin-bottom: 5%;
}
/*PRODUCT DESCRIPTION/*/
.product-description {
  width: 100%;
  padding: 100px 0px 100px 0px;
  display: flex;
}
.product-description .product-description-text {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 2%;
}
.product-description .product-description-img {
  width: 40%;
  height: auto;
  object-fit: cover;
}
/*RECCOMENDED PRODUCTS*/
.recommended-products {
  width: 100%;
  height: 555px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid lightgray;
}
.recommended-products .title {
  margin: 10px 0px 20px 0px;
}
.recommended-products .recommended-products-card-section {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: space-evenly;
}
.recommended-products .recommended-products-card-section .recommended-products-card-anchor {
  width: 15%;
  height: 100%;
}
.recommended-products .recommended-products-card-section .recommended-products-card-anchor .recommended-products-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.recommended-products .recommended-products-card-section .recommended-products-card-anchor .recommended-products-card .card-img {
  height: 288px;
  width: 100%;
}
.recommended-products .recommended-products-card-section .recommended-products-card-anchor .recommended-products-card .card-text {
  width: 100%;
  height: 276px;
  box-sizing: border-box;
  padding: 5%;
}
/*CUSTOMER REVIEW SECTION*/
.customer-reviews {
  width: 100%;
  display: flex;
  border-top: 1px solid lightgray;
}
.customer-reviews-bar {
  width: 25%;
  display: flex;
  flex-direction: column;
}
.customer-reviews-bar .reviews-summary {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding: 5%;
}
.customer-reviews-bar .reviews-summary .customer-reviews-breakdown-bars {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.customer-reviews-bar .reviews-summary .customer-reviews-breakdown-bars a {
  display: flex;
  width: 100%;
  height: 25px;
  align-items: center;
  justify-content: space-between;
}
.customer-reviews-bar .reviews-summary .customer-reviews-breakdown-bars a .star-container {
  height: 20px;
  width: 90px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.customer-reviews-bar .reviews-summary .customer-reviews-breakdown-bars a .star-container .fa-star {
  color: #212d30;
}
.customer-reviews-bar .reviews-summary .customer-reviews-breakdown-bars a .text-container {
  height: 100%;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.customer-reviews-bar .reviews-summary .customer-reviews-breakdown-bars a .meter {
  height: 15px;
  /* Can be anything */
  width: 210px;
  position: relative;
  background: lightgray;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}
.customer-reviews-bar .reviews-summary .customer-reviews-breakdown-bars a .meter > span {
  display: block;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #212d30;
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}
.customer-reviews-bar .write-a-review {
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.customer-reviews-bar .write-a-review .write-a-review-button {
  height: 50px;
  background-color: #212d30;
  color: white;
  border: none;
  margin: 25px 0px 5px 0px;
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  cursor: pointer;
}
.reviews-section {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid lightgray;
}
.reviews-section .review {
  width: 80%;
  border-top: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 2%;
}
.reviews-section .review .review-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 2% 0px 2% 0px;
}
.reviews-section .review .review-body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.reviews-section .review .review-footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 2% 0px 2% 0px;
}
.reviews-section .review .review-buttons {
  height: 30px;
  display: flex;
  width: 280px;
  justify-content: space-between;
  align-items: center;
}
.reviews-section .review:first-child {
  border-top: none;
}
.reviews-section .review:last-child {
  border-bottom: 1px solid lightgray;
}
