/*MENU BAR WOULD GO HERE*/

/*REFINE RESULTS BAR*/

.refine-results-bar{
    width: 100%;
    height: 40px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 1% 0px 1%;

    .refine-results-sort-by-section{
        width: 17%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .refine-results-drop-down{
            width: 74%;
            height: 24px;
            background-color: gray;
        }
    }
}

/*MAIN SECTION*/

.search-main-section{
    width: 100%;
    display: flex;
}

/*REFINE RESULTS SIDE BAR*/

.refine-results-side-bar{
    width: 15%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1%;
    border-right: 1px solid lightgray;

    .refine-results-side-bar-section{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 8%;
    }

    .search-bar-submit{
        font-family: @Font1;
        font-size: 0.85rem;
        color: @secondary-color;
        font-weight: bold;
        border: none;
        background-color: white;
        cursor: pointer;
    }
}

.search-bar-divider{
    border-top: 1px solid lightgray;
    width: 100%;
    height: 1px;
}

.search-bar-item{
    margin-bottom: 15px;
}

.search-to{
    position: relative;
    top: 17px;
    left: 5px;
}

/*SEARCH RESULTS DISPLAY*/

.search-results-display{
    width: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.search-result-card{
    width: 23%;
    height: 355px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*BACKGROUND GRADIENT*/
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 87%, #f4f4f4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 87%,#f4f4f4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 87%,#f4f4f4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */

    .search-result-card-img{
        width: 100%;
        height: 67%;
        object-fit: cover;
        border: 1px solide black;
    }

    .search-result-card-text{
        width: 100%;
        height: 33%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px 1% 0px 1%;
        box-sizing: border-box;
        padding: 5px;
    }
}

