@main-color: @light-gray;
@secondary-color: @dark-blue;
@tertiary-color: @white;

/*COLOR PALETTE*/

@dark-blue: rgba(33,45,48, 1);
@pale-blue: rgba(191,206,211,1);
@white: white;
@light-gray: rgba(243,243,243,1);
@pale-yellow: #E0CC89;
@pale-orange: #CE724A;
@yellow-green: #8F8959;
@warm-gray: #7F7E73;
@deep-red: #6d2833;

@plaque: rgba(255,255,255,0.85);

/*FONTS*/

@Font1: 'Open Sans', sans-serif;
@Font2: 'Open Sans Condensed', sans-serif;

